# Artifact Hub package metadata file
# References:
# https://github.com/artifacthub/hub/blob/master/docs/metadata/artifacthub-pkg.yml
# https://artifacthub.io/docs/topics/repositories/keda-scalers/
# https://github.com/kedacore/external-scalers/blob/main/artifacthub/azure-cosmos-db/0.1.0/artifacthub-pkg.yml
# https://artifacthub.io/packages/keda-scaler/keda-official-external-scalers/external-scaler-azure-cosmos-db?modal=install

version: 7.0.5  # helm chart version
# LTS Zabbix version by default due to stability. See: https://www.zabbix.com/life_cycle_and_release_policy
appVersion: 7.0.9  # zabbix version
name: zabbix
category: monitoring, networking, metrics
displayName: Zabbix - The Enterprise-Class Open Source Network Monitoring Solution
createdAt: 2025-02-21T08:23:13Z # Command Linux: date +%Y-%m-%dT%TZ
description: Zabbix is a mature and effortless enterprise-class open source monitoring solution for network monitoring and application monitoring of millions of metrics.
logoURL: https://assets.zabbix.com/img/logo/zabbix_logo_500x131.png
license: Apache-2.0
homeURL: https://www.zabbix.com
keywords:
  - zabbix
  - monitoring
  - metrics
  - kubernetes
  - helm
links:
  - name: Github project
    url: https://github.com/zabbix-community/helm-zabbix
install: |
  # Installation

  > **Attention!!! Read the [Breaking changes of this helm chart](https://artifacthub.io/packages/helm/zabbix-community/zabbix#breaking-changes-of-this-helm-chart).**

  Access the Kubernetes cluster.

  Add Helm repository:

  ```bash
  helm repo add zabbix-community https://zabbix-community.github.io/helm-zabbix
  ```

  Update the list helm charts available for installation. This is recommend prior to installation/upgrade:

  ```bash
  helm repo update
  ```

  Get all versions of helm chart:

  ```bash
  helm search repo zabbix-community/zabbix -l
  ```

  Set the helm chart version you want to use. Example:

  ```bash
  export ZABBIX_CHART_VERSION='7.0.5'
  ```

  Export default values of ``zabbix`` chart to ``$HOME/zabbix_values.yaml`` file:

  ```bash
  helm show values zabbix-community/zabbix --version $ZABBIX_CHART_VERSION > $HOME/zabbix_values.yaml
  ```

  Change the values according to the environment in the ``$HOME/zabbix_values.yaml`` file. Read the section [Configuration](https://artifacthub.io/packages/helm/zabbix-community/zabbix#configuration) section.

  Install/upgrade Zabbix with the command:

  ```bash
  helm upgrade --install zabbix zabbix-community/zabbix \
   --dependency-update \
   --create-namespace \
   --version $ZABBIX_CHART_VERSION \
   -f $HOME/zabbix_values.yaml -n monitoring --debug
  ```

  # How to access Zabbix

  Create port-forward for Zabbix:

  ```bash
  kubectl port-forward service/zabbix-zabbix-web 8888:80 -n monitoring
  ```

  Login to Zabbix:

  - URL: http://localhost:8888
  - Login: **Admin**
  - Password: **zabbix**

  # Uninstallation

  To uninstall/delete the ``zabbix`` deployment:

  ```bash
  helm uninstall zabbix -n monitoring
  ```

  Please visit this [page](https://artifacthub.io/packages/helm/zabbix-community/zabbix) for more details.
provider:
  name: zabbix-community
maintainers:
  - name: Aecio Pires
    email: aeciopires@yahoo.com.br
  - name: Christian Anton
    email: christian.anton@inqbeo.de
