{{- if and .Values.zabbixServer.enabled .Values.zabbixServer.haNodesAutoClean.enabled }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ template "zabbix.fullname" . }}-nodesclean
  labels:
    app: {{ template "zabbix.fullname" . }}-nodesclean
    app.kubernetes.io/name: nodesclean
    helm.sh/chart: {{ include "zabbix.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}-nodesclean
    app.kubernetes.io/managed-by: {{ .Release.Service }}-nodesclean
    {{- if .Values.zabbixServer.haNodesAutoClean.cronjobLabels }}
    {{- toYaml .Values.zabbixServer.haNodesAutoClean.cronjobLabels | nindent 4 }}
    {{- end }}
spec:
  schedule: {{ .Values.zabbixServer.haNodesAutoClean.schedule | quote }}
  concurrencyPolicy: {{ .Values.zabbixServer.haNodesAutoClean.concurrencyPolicy }}
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: 86400
      template:
        spec:
          serviceAccountName: {{ template "zabbix.serviceAccountName" . }}
          {{- with .Values.zabbixServer.haNodesAutoClean.extraPodSpecs }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- with .Values.nodeSelector }}
          nodeSelector:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.tolerations }}
          tolerations:
            {{- toYaml . | nindent 12 }}
          {{- end }}          
          {{- with .Values.zabbixServer.haNodesAutoClean.extraInitContainers }}
          initContainers:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          containers:
          - name: hanodes-autoclean
            image: "{{ .Values.zabbixServer.haNodesAutoClean.image.repository }}:{{ .Values.zabbixServer.haNodesAutoClean.image.tag }}"
            imagePullPolicy: {{ .Values.zabbixServer.haNodesAutoClean.image.pullPolicy }}
            resources:
              {{- toYaml .Values.zabbixServer.haNodesAutoClean.resources | nindent 14 }}
            securityContext:
              {{- toYaml .Values.zabbixServer.haNodesAutoClean.securityContext | nindent 14 }}
            command:
            - /bin/bash
            - -c
            - echo "deleting all stopped and unavailable HANodes older than {{ .Values.zabbixServer.haNodesAutoClean.deleteOlderThanSeconds }} seconds..." && psql -c "delete from ha_node where status in (1,2) and extract(epoch from now())-lastaccess>{{ .Values.zabbixServer.haNodesAutoClean.deleteOlderThanSeconds }}"
            env:
            {{- include "zabbix.postgresAccess.variables" (list $ . "db_client") | nindent 12 }}
            {{- with .Values.zabbixServer.haNodesAutoClean.extraEnv }}
              {{- toYaml . | nindent 14 }}
            {{- end }}
            {{- with .Values.zabbixServer.haNodesAutoClean.extraVolumeMounts }}
            volumeMounts:
              {{- toYaml . | nindent 14 }}
            {{- end }}
          {{- with .Values.zabbixServer.haNodesAutoClean.extraContainers }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
          imagePullSecrets:
          {{- range .Values.zabbixServer.image.pullSecrets }}
            - name: {{ . | quote }}
          {{- end }}
          restartPolicy: OnFailure
          {{- with .Values.zabbixServer.haNodesAutoClean.extraVolumes }}
          volumes:
            {{- toYaml . | nindent 12 }}
          {{- end }}
{{- end }}
