{{- if .Values.zabbixWebService.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "zabbix.fullname" . }}-zabbix-webservice
  labels:
    app: {{ template "zabbix.fullname" . }}-zabbix-webservice
    app.kubernetes.io/name: zabbix-webservice
    helm.sh/chart: {{ include "zabbix.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}-zabbix-webservice
    app.kubernetes.io/managed-by: {{ .Release.Service }}-zabbix-webservice
  annotations:
    {{- range $key,$value := .Values.zabbixWebService.deploymentAnnotations }}
    {{ $key }}: {{ $value|quote }}
    {{- end }}
spec:
  replicas: {{ .Values.zabbixWebService.replicaCount }}
  selector:
    matchLabels:
      app:  {{ template "zabbix.fullname" . }}-zabbix-webservice
  template:
    metadata:
      annotations:
        {{- range $key,$value := .Values.zabbixWebService.containerAnnotations }}
        {{ $key }}: {{ $value|quote }}
        {{- end }}
      labels:
        app: {{ template "zabbix.fullname" . }}-zabbix-webservice
        app.kubernetes.io/name: zabbix-webservice
        helm.sh/chart: {{ include "zabbix.chart" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}-zabbix-webservice
        app.kubernetes.io/managed-by: {{ .Release.Service }}-zabbix-webservice
    spec:
      {{- with .Values.zabbixWebService.extraPodSpecs }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- with .Values.zabbixWebService.extraInitContainers }}
      initContainers:
      {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- if .Values.karpenter.enabled }}
      nodeSelector:
        karpenter: "true"
        app: zabbix
      {{- else }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
      {{- if gt (len .Values.affinity) 0 }}
      affinity:
        {{- toYaml .Values.affinity | nindent 8 }}
      {{- else if .Values.zabbixWebService.podAntiAffinity }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            podAffinityTerm:
              topologyKey: kubernetes.io/hostname
              labelSelector:
                matchLabels:
                  app.kubernetes.io/instance: {{ .Release.Name }}-zabbix-webservice
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      initContainers:
      - name: update-zabbix-server-host-interface
        # References:
        # https://medium.com/@xcoulon/initializing-containers-in-order-with-kubernetes-18173b9cc222
        # https://github.com/aeciopires/zabbix-scripts
        # https://hub.docker.com/r/aeciopires/zabbix-scripts
        image: aeciopires/zabbix-scripts:v0.1.0
        command: ['bash', '-c', 
          'export ZABBIX_AGENT_ADDRESS=zabbix-zabbix-agent;
          export ZABBIX_WEB_URL=http://zabbix-zabbix-web:80;
          export ZABBIX_WEB_LOGIN=Admin;
          export ZABBIX_WEB_PASS=zabbix;
          until python updateZabbixServerHostInterface.py;
          do echo waiting for zabbix-web; sleep 2; done;']
      containers:
      - name: zabbix-webservice
        resources:
          {{- toYaml .Values.zabbixWebService.resources | nindent 10 }}
        securityContext:
          {{- toYaml .Values.securityContext | nindent 12 }}
        {{- if .Values.zabbixWebService.image.tag }}
        image: "{{ .Values.zabbixWebService.image.repository }}:{{ .Values.zabbixWebService.image.tag }}"
        {{- else }}
        image: "{{ .Values.zabbixWebService.image.repository }}:{{ .Values.zabbixImageTag }}"
        {{- end }}
        imagePullPolicy: {{ .Values.zabbixWebService.image.pullPolicy }}
        env:
          {{- if .Values.zabbixWebService.ignoreURLCertErrors }}
          - name: ZBX_IGNOREURLCERTERRORS
            value: {{ .Values.zabbixWebService.ignoreURLCertErrors }}
          {{- end }}
          {{- range $item := .Values.zabbixWebService.extraEnv }}
          - name: {{ $item.name }}
            value: {{ $item.value | quote  }}
          {{- end }}
          - name: ZBX_ALLOWEDIP
            value: "::/0"
        ports:
          - name: webservice
            containerPort: 10053
            protocol: TCP
        {{- with .Values.zabbixWebService.extraVolumeMounts }}
        volumeMounts:
          {{ toYaml . | nindent 10 }}
        {{- end }}
      {{- with .Values.zabbixWebService.extraContainers }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
      imagePullSecrets:
      {{- range .Values.zabbixWeb.image.pullSecrets }}
        - name: {{ . | quote }}
      {{- end }}
      {{- with .Values.zabbixWebService.extraVolumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
