{{- if .Values.zabbixWeb.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "zabbix.fullname" . }}-zabbix-web
  labels:
    app: {{ template "zabbix.fullname" . }}-zabbix-web
    app.kubernetes.io/name: zabbix-web
    helm.sh/chart: {{ include "zabbix.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}-zabbix-web
    app.kubernetes.io/managed-by: {{ .Release.Service }}-zabbix-web
  annotations:
    {{- range $key,$value := .Values.zabbixWeb.deploymentAnnotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
  replicas: {{ .Values.zabbixWeb.replicaCount }}
  selector:
    matchLabels:
      app:  {{ template "zabbix.fullname" . }}-zabbix-web
  template:
    metadata:
      annotations:
        {{- range $key,$value := .Values.zabbixWeb.containerAnnotations }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
      labels:
        app: {{ template "zabbix.fullname" . }}-zabbix-web
        app.kubernetes.io/name: zabbix-web
        helm.sh/chart: {{ include "zabbix.chart" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}-zabbix-web
        app.kubernetes.io/managed-by: {{ .Release.Service }}-zabbix-web
    spec:
      {{- with .Values.zabbixWeb.extraPodSpecs }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- with .Values.zabbixWeb.extraInitContainers }}
      initContainers:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.karpenter.enabled }}
      {{- with .Values.karpenter.labels }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- else }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
      {{- if gt (len .Values.affinity) 0 }}
      affinity:
        {{- toYaml .Values.affinity | nindent 8 }}
      {{- else if .Values.zabbixWeb.podAntiAffinity }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            podAffinityTerm:
              topologyKey: kubernetes.io/hostname
              labelSelector:
                matchLabels:
                  app.kubernetes.io/instance: {{ .Release.Name }}-zabbix-web
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: zabbix-web
        resources:
          {{- toYaml .Values.zabbixWeb.resources | nindent 10 }}
        securityContext:
          {{- toYaml .Values.zabbixWeb.securityContext | nindent 10 }}
        {{- if .Values.zabbixWeb.image.tag }}
        image: "{{ .Values.zabbixWeb.image.repository }}:{{ .Values.zabbixWeb.image.tag }}"
        {{- else }}
        image: "{{ .Values.zabbixWeb.image.repository }}:{{ .Values.zabbixImageTag }}"
        {{- end }}
        imagePullPolicy: {{ .Values.zabbixWeb.image.pullPolicy }}
        env:
          {{- include "zabbix.postgresAccess.variables" (list $ . "zabbix") | nindent 10 }}
          {{- range $item := .Values.zabbixWeb.extraEnv }}
          - name: {{ $item.name }}
            value: {{ $item.value | quote }}
          {{- end }}
        ports:
          - name: zabbix-web
            containerPort: 8080
            protocol: TCP
        volumeMounts:
        {{- if .Values.zabbixWeb.samlCertsSecretName }}
          - name: zabbix-web-samlcerts
            mountPath: /etc/zabbix/web/certs
        {{- end }}
        {{- with .Values.zabbixWeb.extraVolumeMounts }}
          {{- toYaml . | nindent 10 }}
        {{- end }}
        livenessProbe:
          httpGet:
            path: {{ .Values.zabbixWeb.livenessProbe.path }}
            port: zabbix-web
          initialDelaySeconds: {{ .Values.zabbixWeb.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.zabbixWeb.livenessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.zabbixWeb.livenessProbe.timeoutSeconds }}
          successThreshold: {{ .Values.zabbixWeb.livenessProbe.successThreshold }}
          failureThreshold: {{ .Values.zabbixWeb.livenessProbe.failureThreshold }}
        readinessProbe:
          httpGet:
            path: {{ .Values.zabbixWeb.readinessProbe.path }}
            port: zabbix-web
          initialDelaySeconds: {{ .Values.zabbixWeb.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.zabbixWeb.readinessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.zabbixWeb.readinessProbe.timeoutSeconds }}
          successThreshold: {{ .Values.zabbixWeb.readinessProbe.successThreshold }}
          failureThreshold: {{ .Values.zabbixWeb.readinessProbe.failureThreshold }}
      {{- with .Values.zabbixWeb.extraContainers }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
      imagePullSecrets:
      {{- range .Values.zabbixWeb.image.pullSecrets }}
        - name: {{ . | quote }}
      {{- end }}
      volumes:
      {{- if .Values.zabbixWeb.samlCertsSecretName }}
        - name: zabbix-web-samlcerts
          secret:
            secretName: {{ .Values.zabbixWeb.samlCertsSecretName }}
      {{- end }}
      {{- with .Values.zabbixWeb.extraVolumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
